/* Section 2 */

/* About Us */

.title-about-us-h4 {
    font-size: 35px;
}
.title-block-p {
    font-size: 16px;
}

/* Section 3 */

/* Details */

.height-block {
    height: 242px;
    padding-right: 15px;
}
.image {
    min-height: 100%;
    background-color: var(--blue);
    margin-right: 15px;
}
.description {
    margin-bottom: 30px;
}
.quote-block {
    padding: 25px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    position: relative;
}
.quote {
    font-size: 60px;
    position: absolute;
    top: -30px;
    left: 5px;
}

@media screen and (max-width: 1199px) {
    .height-block {
        height: 302px;
    }
}

@media screen and (max-width: 991px) {
    .height-block {
        margin-bottom: 30px;
    }
}

/* Section 4 */

/* Special Offers */

.offers-image {
    max-width: 277px;
    height: 262px;
    margin-right: 0;
}
.offer-description-title, .offer-description p {
    margin-bottom: 10px;
}
.offer-description-title {
    white-space: nowrap;
}
.description-list {
    margin-bottom: 20px;
}
.offers-list-item {
    padding-left: 15px;
}
.button-block-host-today {
    opacity: 1;
}
.button-host-today {
    min-width: 60%;
    height: 45px;
    font-size: 12px;
    font-weight: bold;
}

@media screen and (max-width: 1199px) {
    .offers-image {
        height: 282px;
    }
}

@media screen and (max-width: 991px) {
    .offers-block {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 460px) {
    .container.offers {
        padding-bottom: 30px;
    }
    .offers-block {
        display: flex;
        flex-direction: column;
    }
    .offers-description.col-xs-6 {
        width: 100%;
    }
    .offers-description {
        margin-bottom: 20px;
    }
    .offers-image.col-xs-6 {
        width: 100%;
        margin-bottom: 20px;
    }
}


/* Section 4 */

/* Our Team */


.team-member-block {
    margin-bottom: 60px;
}
.team-member-image {
    height: 260px;
    margin: 0 0 20px 0;
}
.team-member-social, .team-member-description {
    display: inline-block;
}
.team-member-social .social-icon {
    color: var(--black);
    padding: 5px 7px;
    margin-right: 0;
    border: 1px solid black;
}

@media screen and (max-width: 600px) {
    .row-our-team {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .row-our-team .col-xs-6 {
        width: 100%;
    }
    .team-member-block {
        max-width: 262px;
        margin: 30px auto;
    }
}