/* Hosting Services */


.services-title, .services-icon {
    margin-bottom: 20px;
}
.services-benefit-block {
    margin-bottom: 50px;
}

/* Featured Services */

.featured-services-block {
    padding: 0;
    display: flex;
    align-items: center;
}
.featured-services-border {
    border-right: 1px solid #fff;
}
.featured-services-image {
    height: 160px;
}
.title-block-latest-news {
    padding-left: 15px;
}
.circle-block {
    display: flex;
    align-items: flex-start;
}
.circle {
    width: 100px;
    min-height: 100px;
    border-radius: 50%;
    background-color: var(--orange);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.circle-inner {
    width: 90px;
    min-height: 90px;
    color: #fff;
    border-radius: 50%;
    border: 1px solid #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1199px) {
    .featured-services-border {
        border-right: none;
        border-bottom: 1px solid #fff;
    }
}

@media screen and (max-width: 520px) {
    .featured-services-block {
        align-items: flex-start;
    }
    .circle {
        width: 80px;
        min-height: 80px;
    }
    .circle-inner {
        width: 70px;
        min-height: 70px;
    }
}

@media screen and (max-width: 460px) {
    .container.offers {
        padding-bottom: 30px;
    }
    .offers-block {
        display: flex;
        flex-direction: column;
    }
    .offers-description.col-xs-6 {
        width: 50%;
    }
    .offers-description {
        margin-bottom: 20px;
    }
    .offers-image.col-xs-6 {
        width: 100%;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 400px) {
    .featured-services-block-column {
        flex-direction: column;
        align-items: flex-start;
    }
    .featured-services-image {
        margin-bottom: 20px;
    }
}


/* Happy Clients */

.slick-initialized .slick-slide {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.circle-client {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #5c5c5c;
    margin-right: 30px;
}
.regular-happy-clients.slick-initialized.slick-slider.slick-dotted {
    position: relative;
}
.slick-dots {
    top: 0;
    text-align: right;
}
.slick-dots li {
    margin: 0 1px;
}
.slick-dots li button {
    width: 10px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #ccc;
    top: -25px;

}
.slick-dots li.slick-active button
{
    border-color: var(--blue);
}
.client-qoute-block {
    max-width: 1020px;
}
.client-qoute {
    font-style: italic;
}

@media screen and (max-width: 1199px) {
    .client-qoute-block {
        max-width: 820px;
    }
}

@media screen and (max-width: 991px) {
    .client-qoute-block {
        max-width: 600px;
    }
}

@media screen and (max-width: 991px) {
    .client-qoute-block {
        max-width: 600px;
    }
}

@media screen and (max-width: 767px) {
    .slick-initialized .slick-slide {
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
    }
    .circle-client {
        margin-bottom: 20px;
    }
    .client-qoute-block {
        padding: 0 15px;
    }
}