:root {
    --orange: #FF8261;
    --blue: #52CBF8;
    --darkblue: #222836;
    --darkgray: #5c5c5c;
    --white: #fff;
    --black: #000;
    --aqua: #e7f4f8;
    --yellow: #f7f7c5;
} 
body {
    font-family: FontAwesome, sans-serif;
    font-size: 14px;
}
h1,h2,h4,h5,p {
    margin: 0;
    padding: 0;
} 
ul {
    list-style: none;
}
a {
    color: var(--black);
    padding: 5px 15px;
}
a:hover {
    text-decoration: none;
    cursor: pointer;
    opacity: 1;
}
a:link {
    text-decoration: none;
}
.nav > li > a:hover,
.nav > li > a:focus {
  background-color: transparent;
}
.dropdown-menu {
    left: -90px;
}
.form-control, .select2-container--default .select2-selection--single, .select2-dropdown {
    border-radius: 0;
}
.uppercase-title {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}
.uppercase-bold-title {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-weight: bold;
}
.margined-bottom {
    margin-bottom: 30px;
    overflow: hidden;
}
.opacity-1 {
    opacity: 1;
}
.opacity-5 {
    opacity: 0.5;
}
.opacity-7 {
    opacity: 0.7;
}
.container {
    padding: 60px 15px;
}
.padding-top-20 {
    padding-top: 20px;
}
.padding-bottom-0 {
    padding-bottom: 0;
}
.padding-left-right-0 {
    padding-left: 0;
    padding-right: 0;
}
.padding-left-0 {
    padding-left: 0;
}
.padding-right-0 {
    padding-right: 0;
}
.bg-color-aqua {
    background-color: var(--aqua);
}
.image-block {
    height: inherit;
}
.image {
    min-height: 100%;
    background-color: var(--blue);
}

/*Section  1*/

/*Header*/

/*Logo*/


.logo {
    height: 100px;
    display: flex;
    align-items: center;
}
.logo-img a {
    padding: 8px 25px;
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
}
.logo-title {
    font-family: "OpenSans Extrabold";
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}
.logo-title a {
    color: #161920;
    padding: 5px 10px;
}

/*Support*/

.support {
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.support-block {
    width: 100%;
    padding: 15px 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: flex-end;
    align-items: center;
} 
.dropdown-menu {
    width: 235px;
}
.support-block a {
    padding: 5px 10px;
}
.support-mail {
    padding-right: 20px;
}
.support-register, .support-login {
    padding: 0 20px;
    border-left: 1px solid black;
}
.support-register a, .support-login a {
    color: #161920;
}
.support-register a:hover, .support-login a:hover, .footer-links a:hover {
    opacity: 1;
}

/*Menu*/

.menu {
    background-color: var(--orange);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
.menu-item a {
    color: var(--white);
    text-transform: uppercase;
    padding: 20px 23px 20px 23px;
    display: block;
}
.menu-item a:hover {
    background-color: none;
}
.active {
    background-color: var(--blue);
}
.burger {
    position: fixed;
    top: 40px;
    right: 30px;
    width: 24px;
    height: 18px;
    display: none;
    cursor: pointer;
    z-index: 10;
}
.burger-item-1, .burger-item-2, .burger-item-3 {
    position: absolute;
    width: 24px;
    height: 3px;
    background-color: #ccc;
    border-radius: 5px;
    transition: all ease 0.3s;
}
.burger-item-1 {
    top: 0;
}
.burger-item-2 {
    top: 7px;
}
.burger-item-3 {
    top: 14px;
}
.burger:hover .burger-item {
    background-color: #303f65;
}
.burger.open .burger-item-1{
    transform: rotate(45deg);
    top: 7px;
}
.burger.open .burger-item-2{
    transform: rotate(-45deg);
}
.burger.open .burger-item-3{
    transform: rotate(-45deg);
    top: 7px;
}


/*Section  2*/

/*Slider*/

#slider, #about-us, #our-service, #hosting-plans, #testimonials, #faq-questions, #contuct-us {
    color: var(--white);
    background-color: var(--darkblue);
}
.regular {
    height: 570px;
    display: flex;
    align-items: center;
}
.slide {
    text-align: center;
    text-transform: uppercase;
}
.slide h1 {
    font-weight: bold;
    padding: 0;
    margin-bottom: -5px;
}
.slide p {
    font-size: 16px;
    padding: 0;
    margin: 0;
}
.slick-dots li button {
    position: absolute;
    top: -60px;
    left: 0;
}
/*Section  3*/

/*Domain*/

#domain {
    color: var(--black);
    background-color: var(--aqua);
}
#domain .row {
    margin-right: 0;
}
.menu-block, .header {
    padding: 0 15px;
}
.icon {
    font-size: 25px;
    color: var(--orange);
}
.form-group {
    margin-right: 0;
    margin-left: 0;
}
.title-block-p {
    font-size: 18px;
    font-weight: normal;
    white-space: nowrap;
}
.title-block-h4 {
    font-size: 33px;
    font-weight: bold;
}
.form-control, .select2, .select2-container .select2-selection--single {
    width: 100%;
    height: 55px;
}
.select2-container--default .select2-selection--single {
    border: 1px solid #ccc;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 55px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 55px;
}
.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 15px;
}
.select-year.col-xs-6, .select-domain.col-xs-6, .select-year.col-sm-6, .domain-label-block.col-sm-6 {
    padding-right: 0;
}
.domain-label-block {
    display: flex;
    cursor: pointer;
}
.domain-label {
    margin-right: 15px;
}
.domain-label.col-xs-2 {
    width: 12.666667%;
}
.button {
    height: 55px;
    color: var(--white);
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: var(--orange);
    border-radius: 0;
    border: none;
}
.button-block-domain-search {
    padding-right: 0;
}
.domain-search-button {
    min-width: 100%;
}

/*Section  4*/

/*Benefits*/

.title-block-benefits {
    margin-bottom: 40px;
}
.stick {
    width: 20px;
    height: 3px;
    background-color: var(--orange);
    border-radius: 5px;
    margin: 10px 0;
}
.benefit-title {
    margin-bottom: 10px;
}
.item-title {
    font-size: 18px;
}
.benefit-pic {
    width: 19%;
    margin-right: 1%;
    display: block;
    float: left;
}
.benefit-pic img {
    max-width: 90%;
}
.benefit-description {
    width: 75%;
    margin-right: 3%;
    float: left;
}

/*Section  5*/

/*Hot*/

#hot {
    background-color: var(--yellow);  
} 
.title-block-hot, .title-block-features {
    white-space: nowrap;
}
.features-list-block {
    height: 135px;
    position: relative;
}
.discount-block {
    height: 100%;
    background-color: var(--white);
    padding: 15px;
}
.discount-block-border {
    height: 100%;
    background-color: var(--white);
    border: 2px solid var(--yellow);
    box-sizing: border-box;
}
.discount-block-border-content {
    padding: 15px;
}
.discount-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.get-up-to {
    font-size: 13px;
    font-weight: bold;
    margin-bottom: -18px;
}
.percent {
    font-size: 55px;
    font-weight: bold;
    color: var(--orange);
    margin-right: 10px;
}
.percent-blue-off {
    color: var(--blue);
    text-transform: uppercase;
}
.each-host {
    font-size: 14px;
    text-transform: uppercase;
}
.each-host-bottom {
    font-weight: bold;
}
.features-list-block, .button-block-view-all {
    height: 140px;
}
.list {
    height: 100%;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.list-item {
    white-space: nowrap;
    list-style: none;
}
.list-item:before {
    content: "\203A";
    font-size: 20px;
    font-weight: bold;
}
.button-block-view-all {
    position: relative;
}
.button-view-all {
    min-width: 80%;
    position: absolute;
    bottom: 0;
}

/*Section  6*/

/* Our hosting */

.plan-block {
    padding: 15px;
    margin: 30px 0 0 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.border {
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.price-block {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.price {
    font-size: 50px;
    margin-bottom: -15px;
}
.price-digit {
    font-weight: bold;
}
.price-signature {
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.plan-name {
    width: 80%;
    background-color: var(--blue);
    color: var(--white);
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    padding: 7px;
    margin-bottom: 20px;
}
.points-block {
    width: 90%;
    margin-bottom: 10px;
}
.points {
    text-align: center;
    padding-left: 0;
}
.point {
    padding: 5px 0;
    border-top: 1px solid #ccc;
}
.no-border {
    border-top: none;
}
.button-block-signup {
    width: 60%;
}
.button-signup {
    min-width: 100%;
    height: 35px;
    font-size: 13px;
    font-weight: bold;
}

/*Section  7*/

/* Newsletter */

#newsletter, #offers {
    background-color: var(--aqua);
}
.envelope-icon {
    margin-bottom: 10px;
}
.row-newsletter {
    display: flex;
    align-items: center;
}
.title-block-newsletter.col-xs-12 {
    padding-left: 0;
}
.input-group-addon {
    padding: 6px 50px;
}

/*Section  8*/

/* Footer */

#footer {
    color: var(--white);
    background-color: var(--darkblue);
    opacity: 0.8;
}
.footer-flex-block {
    display: flex;
    align-items: center;
}
.logo-title-footer a, .footer-links a {
    color: var(--white);
}
.logo-img-footer {
    margin-top: -30px;
} 
.rights {
    font-size: 14px;
    color: var(--white);
    text-transform: none;
    padding-left: 10px; 
}
.footer-flex-block-list {
    display: flex;
    align-items: flex-start;
}
.footer-title {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.quick-links {
    overflow: hidden;
}
.footer-links {
    padding-left: 0;
    margin-left: -15px;
    float: left;
}
.footer-links-contuct {
    margin-left: 0;
}
.footer-links-marg-right {
    margin-right: 40px;
}
.footer-links li {
    padding-left: 0;
    margin-bottom: 10px;
}
.social-icons {
    font-size: 20px;
}
.social-icons a {
    padding: 0;
}
.social-icon, .social-icons a:hover {
    color: var(--white);
    margin-right: 15px;
}

/*Media*/

@media screen and (max-width: 1199px) {
    .menu-item a {
        font-size: 12px; 
        padding: 20px 18px 20px 18px;
    }
    .form-group p {
        font-size: 14px;
    }
    .form-group h4 {
        font-size: 25px;
    }
    .domain-search-button, .button-view-all, .button-sign-up-now {
        height: 45px;
    }
    .form-control, .select2, .select2-container .select2-selection--single {
        width: 100%;
        height: 45px;
    }
    .select2-container--default .select2-selection--single {
        border: 1px solid #ccc;
    }
    .select2-container--default .select2-selection--single .select2-selection__rendered, .select2-container--default .select2-selection--single .select2-selection__arrow{
        line-height: 45px;
    }
    .select2-container--default .select2-selection--single .select2-selection__arrow {
        height: 45px;
    }
    .get-up-to {
        font-size: 10px;
        margin-bottom: -14px;
    }
    .percent {
        font-size: 40px;
    }
    .each-host {
        font-size: 13px;
    }
    .features-list-block, .button-block-view-all {
        height: 120px;
    }
    .rights {
        font-size: 12px;
    }
    .social-icons {
        font-size: 18px;
    }
}

@media screen and (max-width: 991px) {
    .menu-wrapper {
        display: none;
    }
    .burger {
        display: block;
    }
    .menu {
        height: 100vh;
        background-color: var(--orange);
        flex-direction: column;
        justify-content: space-evenly;   
    }
    .menu-item a {
        font-size: 16px;
        padding: 0 220px;
        text-transform: uppercase;
    }
    .menu-wrapper {
        position: fixed;
        right: -100%;
        top: 0;
        height: 100vh;
        width: 100%;
        background-color: var(--orange);
        display: block;
        z-index: 9;
        -webkit-transition:  left 0.4s ease-in-out;
        -moz-transition:  left 0.4s ease-in-out;
        -ms-transition:  left 0.4s ease-in-out;
        -o-transition:  left 0.4s ease-in-out;
        transition:  right 0.4s ease-in-out;
    }
    .menu-wrapper.open {
        right: 0;
    }
    .form-group p {
        font-size: 11px;
    }
    .form-group h4 {
        font-size: 20px;
    }
    .domain-search-button, .button-view-all, .button-sign-up-now {
        height: 35px;
        font-size: 14px;
    }
    .form-control, .select2, .select2-container .select2-selection--single {
        width: 100%;
        height: 35px;
    }
    .select2-container--default .select2-selection--single {
        border: 1px solid #ccc;
    }
    .select2-container--default .select2-selection--single .select2-selection__rendered, .select2-container--default .select2-selection--single .select2-selection__arrow{
        line-height: 35px;
    }
    .select2-container--default .select2-selection--single .select2-selection__arrow {
        height: 35px;
    }
    .hot-discount-flex-block {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
    }
    .input-group-addon {
        padding: 6px 20px;
    }
    .footer-flex-block {
        display: block;
    }
    .footer-flex-block-list {
        display: block;
    }
    .footer-logo {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 767px) {
    .container.header{
        height: 65px;
        display: flex;
        align-items: center;
    }
    .logo-img a {
        padding: 8px 19px;
    }
    .logo-title {
        font-size: 13px;
    }
    .logo-title-footer {
        font-size: 20px;
    }
    .support-register, .support-login {
        border-left: none;
        display: inline-block;
    }
    .support-login {
        border-left: 1px solid black;
    }
    .support-mail {
        padding-right: 0;
        padding: 0 0 15px 10px;
    }
    .burger {
        top: 24px;
    }
    .menu-item a {
        padding: 0 70px;
    }
    .container.domain {
        padding: 40px 20px;
    }
    .fa-search {
        font-size: 18px;
    }
    form {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    .form-group p {
        font-size: 11px;
    }
    .select-year.col-xs-2, .select-domain.col-xs-2 {
        width: 50%;
    }
    .select-block {
        margin-bottom: 20px;
    }
    .button-block-domain-search {
        width: 100%;
        overflow: hidden;
    }
    .domain-search-button {
        min-width: 15%;
        float: right;
    }
    .button-block-view-all {
        height: 50px;
    }
    .row-newsletter {
        display: block;
    }
    .title-block-newsletter {
        margin-bottom: 30px;
    }
    .input-group-addon {
        font-size: 11px;
        padding: 6px 10px;
    }
    .social-icon, .social-icons a:hover {
        margin-right: 10px;
    }
    .footer-flex-block {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer-flex-block-list {
        display: flex;
        flex-direction: column;
    }
    .quick-links {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 575px) {
     .hot-discount-flex-block {
        flex-direction: column;
    }
    .discount-flex {
        justify-content: space-around;
    }
    .discount-block {
        padding: 10px;
    }
    .plan-block {
        width: 100%;
    }
}