/* Support Center form */

.search-icon {
    font-size: 15px;
    margin-right: 15px; 
}
.fa-search {
    font-size: 15px;
}
  .placeholder-support-search {
    left: 20px;
    transform: translateY(-50%);
    z-index: 3;
  }

  @media screen and (max-width: 767px) {
    .placeholder {
        font-size: 12px;
        margin-right: 75px;
        left: 10px;
        transform: translateY(-51%);
      }
    .search-icon {
        margin-right: 10px; 
    }
    .fa-search {
        font-size: 12px;
    }
  }

  /* Empty Title */

  .article-block {
      line-height: 2;
  }
  .list-item:before {
      font-size: 23px;
      color: var(--orange);
  }
  .list {
      margin-bottom: 20px;
  }
  .button-block-online-support {
    margin-top: 20px;
  }
  .more-button {
      height: auto;
      padding: 10px 30px;
  }
  .list-topic {
      height: 276px;
  }
  .topic {
      margin-bottom: 20px;
      display: flex;
      align-items: center;
  }
  .topic a {
      padding-left: 0;
  }
  .image {
      width: 80px;
      height: 70px;
      margin-right: 20px;
  }

  @media screen and (max-width: 991px) {
    .topic-block {
        margin-top: 40px;
    }
  }

  @media screen and (max-width: 767px) {
    .article-block-middle {
        margin-top: 40px;
    }
  }

  /* Qestion Faq's */

.masonry { /* Masonry container */
    column-count: 2;
    column-gap: 1em;
}

.item { /* Masonry bricks or child elements */
    display: inline-block;
    margin: 0 0 1em;
    width: 100%;
}
.button-block-ask-questions {
    border-bottom: none;
}
.button-online-support {
    padding: 15px 50px;
}

@media screen and (max-width: 767px) {
    .masonry {
        column-count: 1;
    }
  }